h1 {
    color: var(--cor-primaria);
}

.h1-hero {
    font-size: 2.5rem;
}

nav {
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: solid 2px #000;
}

a {
    text-decoration: none;
    color: var(--cor-primaria);
}

ul {
    gap: 5rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}

body {
    background-color: var(--cor-secundaria);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero {
    gap: 5rem;
    padding: 2rem;
    min-height: 81vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.title {
    padding: 3rem;
    flex: 1;
    border-right: solid 2px #000;
}

.description {
    flex: 1;
    text-align: center;
}

h3,
h2 {
    color: var(--cor-primaria);
}

h3 {
    line-height: 3rem;
}

p {
    color: var(--cor-primaria);
    line-height: 2rem;
}

.features {
    padding: 5rem;
    gap: 3rem;
    display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.feature-card {
    /* From https://css.glass */
    background: rgba(240, 238, 233, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);

    text-align: center;
    padding: 2rem;
}

.h1-feature {
    text-align: center;
    font-size: 2.5rem;
    border-bottom: solid 2px #000;
    padding-bottom: 1rem;
}

.images-feature {
    width: 5rem;
}


@media screen and (max-width: 768px) {

    nav {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 1rem;
    }

    ul {
        flex-direction: column;
        gap: 2rem;
    }

    #hero {
        padding: 0;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .title {
        padding: 0;
        border: none;
    }

    h3 {
        line-height: 2rem;
    }

    p {
        line-height: 1.2rem;
    }

    .h1-hero {
        font-size: 2rem;
    }

    .h1-feature {
        font-size: 2rem;
    }

    .features {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;

    }

    .feature-card {
        width: 100%;
        gap: 0;
    }
}