h1 {
    color: var(--cor-primaria);
}

.h1-hero {
    font-size: 2.5rem;
}

nav {
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: solid 2px #000;
}

a {
    text-decoration: none;
    color: var(--cor-primaria);
}

ul {
    gap: 5rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}

body {
    background-color: var(--cor-secundaria);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero {
    gap: 5rem;
    padding: 2rem;
    min-height: 81vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.title {
    padding: 3rem;
    flex: 1;
    border-right: solid 2px #000;
}

.description {
    flex: 1;
    text-align: center;
}

h3,
h2 {
    color: var(--cor-primaria);
}

h3 {
    line-height: 3rem;
}

p {
    color: var(--cor-primaria);
    line-height: 2rem;
    font-size: 1.1rem;
}

#features {
    display: grid;
    place-items: center;
}

.features {
    padding: 5rem;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feature-card {
    text-align: center;
    padding: 2rem;
}

.h1-section {
    text-align: center;
    font-size: 2.5rem;
    border-bottom: solid 2px #000;
    padding-bottom: 1rem;
}

.images-feature {
    width: 5rem;
}

.feature-card:hover {
    background: rgba(0, 128, 128, 0.25);
    transform: translateY(-4px);
    transition: 0.3s ease;
}
#pricing {
    display: grid;
    place-items: center;
}

.plan-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 5rem;
}

.plan {
    text-align: center;
    padding: 1rem 3rem 3rem 3rem;
}

.effect-glass {
     /* From https://css.glass */
    background: rgba(240, 238, 233, 0.44);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
}


.ul-plan-and-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    margin-top: 2rem;
}

.btn-plan {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 0.8rem 3rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    transition: all 0.3s ease;
}

.btn-plan:hover {
    opacity: 0.8;
}




@media screen and (max-width: 768px) {

    nav {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 1rem;
    }

    ul {
        flex-direction: column;
        gap: 2rem;
    }

    #hero {
        padding: 0;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .title {
        padding: 0;
        border: none;
    }

    h3 {
        line-height: 2rem;
    }

    p {
        line-height: 1.2rem;
    }

    .h1-hero {
        font-size: 2rem;
    }

    .h1-feature {
        font-size: 2rem;
    }

    .features {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;

    }

    .feature-card {
        width: 100%;
        gap: 0;
    }

    .plan-container {
        grid-template-columns: 1fr;
    }
}