h1 {
    color: var(--cor-primaria);
}

.h1-hero {
    font-size: 2.5rem;
}

nav {
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: solid 2px #000;
}

a {
    text-decoration: none;
    color: var(--cor-primaria);
}

ul {
    gap: 5rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}

body {
    background-color: var(--cor-secundaria);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero {
    gap: 5rem;
    padding: 2rem;
    min-height: 60vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.title {
    padding: 3rem;
    flex: 1;
    border-right: solid 2px #000;
}

.description {
    flex: 1;
    text-align: center;
}

h3,
h2 {
    color: var(--cor-primaria);
}

h3 {
    line-height: 3rem;
}

p {
    color: var(--cor-primaria);
    line-height: 2rem;
}



@media screen and (max-width: 768px) {

    nav {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 1rem;
    }

    ul {
        flex-direction: column;
        gap: 2rem;
    }

    #hero {
        padding: 0;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .title {
        padding: 0;
        border: none;
    }

    h3 {
        line-height: 2rem;
    }

    p {
        line-height: 1.2rem;
    }

    .h1-hero {
        font-size: 2rem;
    }
}