* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--cor-secundaria);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: var(--cor-primaria);
}

.transition {
    transition: all 0.3s ease;
}

.h1-hero {
    font-size: 2.5rem;
}

nav {
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: solid 2px var(--cor-terciaria);
}

a {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 1.2rem;
}

nav ul {
    gap: 5rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.ul-nav a {
    color: var(--cor-terciaria);
}

nav ul li {
    border-bottom: solid var(--cor-secundaria) 2px;
}

nav ul li:hover {
    transition: all 0.7s ease-in;
    color: var(--cor-primaria);
    border-bottom: solid var(--cor-primaria) 2px;
}

li {
    list-style-type: none;
}

#hero {
    gap: 8rem;
    padding: 0 2rem;
    min-height: 90vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    padding: 3rem;
    text-align: center;
    flex: 1;
}

.title h3 {
    font-weight: normal;
    color: var(--cor-terciaria);
}

.btn-free {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 0.8rem 4rem;
    border: solid 2px var(--cor-terciaria);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.btn-view-plan {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 0.8rem 3rem;
    border: solid var(--cor-terciaria) 2px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.buttons-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-free:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    transform: translateY(-4px);
    transition: 0.3s ease;
}

.btn-view-plan:hover {
    background: rgba(0, 128, 128, 0.10);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
    transition: 0.3s ease;
}

.description {
    flex: 1;
    text-align: left;
}

.description p {
    text-align: left;
    color: var(--cor-terciaria);
    font-size: 1.1rem;
    font-weight: 600;
}

.description h2 {
    font-size: 2.2rem;
}


h3,
h2 {
    color: var(--cor-primaria);
}

h3 {
    line-height: 3rem;
}

.feature-card p {
    color: var(--cor-terciaria);
    line-height: 2rem;
    font-size: 1.1rem;
}

#features {
    display: grid;
    place-items: center;
}

.features {
    padding: 5rem;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feature-card {
    text-align: center;
    padding: 2rem;
}

.h1-section {
    text-align: center;
    font-size: 2.5rem;
    border-bottom: solid 2px #000;
    padding-bottom: 1rem;
}

.images-feature {
    width: 5rem;
}

.feature-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    background: rgba(0, 128, 128, 0.10);
    transform: translateY(-4px);
    transition: 0.3s ease;
}

#pricing {
    display: grid;
    place-items: center;
}

.plan-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 5rem;
}

.plan {
    text-align: center;
    padding: 1rem 3rem 3rem 3rem;
}

.effect-glass {
    /* From https://css.glass */
    background: rgba(240, 238, 233, 0.44);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
}


.ul-plan-and-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    margin-top: 2rem;
}

.ul-plan-and-footer li,
.ul-plan-and-footer li a {
    color: var(--cor-terciaria);
    font-size: 1.1rem;
}

.btn-plan {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 0.8rem 3rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.btn-plan:hover {
    opacity: 0.8;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem 0 0 0;
    border-radius: 0;
    padding: 4rem;
    gap: 3rem;
}

.description-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.description-taskflow {
    grid-column: 1 / 4;
    grid-row: 2;
    padding: 0 3rem;
    margin: 0;
    min-height: 10rem;
    color: var(--cor-terciaria);
    font-size: 1.1rem;
}

.title-footer-logo {
    align-self: start;
    padding: 2.5rem 0;
    margin: 0;
}

.logo-taskflow-footer {
    width: 2.5rem;
    display: grid;
    margin: 2.5rem 0 0 0;
    grid-auto-flow: row;
    justify-self: end;
    align-self: start;
}

.footer img {
    width: 2rem;
}

.speed-links {
    padding: 1rem 3rem;
}

.contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem 3rem;
}

.email a,
.phone a {
    color: var(--cor-terciaria);
}

.title-footer-contact {
    grid-column: 1 / 4;
    grid-row: 1/1;
}

.email {
    grid-column: 1 / 4;
    grid-row: 2 /4;
}

.phone {
    grid-column: 1/4;
    grid-row: 3 / 4;
}

.other-logos {
    display: flex;
    justify-content: end;
    grid-column: 3 / 4;
    gap: 0.5rem;
}

.other-logos img {
    width: 2rem;
}

.icons {
    color: #fff;
    background: var(--cor-primaria);
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.plan.selected {
    outline: 3px solid var(--cor-primaria);
    transform: scale(1.03);
}

.plan.selected .btn-plan {
    background-color: #2ecc71;
    color: #fff;
}



@media screen and (max-width: 1300px) {

    .footer-container,
    .plan-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #hero {
        flex-direction: column;
        gap: 2rem;
    }

}

@media screen and (max-width: 768px) {

    nav {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
        padding-bottom: 1rem;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    #hero {
        padding: 0;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .title {
        padding: 6rem 0;
        min-height: 80vh;
    }

    .description p {
        padding: 0 2rem;
        ;
    }

    .description {
        margin-bottom: 2rem;
    }

    .buttons-hero {
        display: flex;
        flex-direction: column;
    }

    .btn-view-plan {
        padding: 0.8rem 7rem;
    }

    h3 {
        line-height: 2rem;
        padding: 0 2rem;
    }

    p {
        line-height: 1.2rem;
    }

    .h1-section,
    .h1-feature,
    .h1-hero {
        font-size: 1.8rem;
    }

    .features {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        padding: 3rem;
    }

    .feature-card {
        width: 100%;
        gap: 0;
    }

    .plan-container {
        grid-template-columns: 1fr;
        margin-top: 1.5rem;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .description-footer {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
        text-align: center;
    }

    .speed-links h2,
    .contact h2,
    .description {
        text-align: center;
    }

    .ul-plan-and-footer {
        padding: 0;
    }

    .contact {
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }

    .contact a {
        font-size: 1rem;
    }

    .description-taskflow {
        min-height: auto;
        padding: 0 0.5rem;
    }


}